@import "tailwindcss";

:root {
  /* Page background */
  --background: rgb(249 250 251);
  --background-muted: rgb(247 248 250);

  /* Components, other surfaces */
  --surface: rgb(249 250 251);
  /* Inputs, secondary color */
  --surface-active: rgb(229 231 235);
  /* Hover states */
  --surface-hover: rgb(243 244 246);

  /* Borders, dividers */
  --border: rgb(209 213 220);

  /* Primary text */
  --foreground: rgb(54 65 83);
  /* Secondary text */
  --foreground-muted: rgb(106 114 130);

  /* Green */
  --accent: rgb(0 153 102);
  --accent-hover: rgb(0 122 85);
  --accent-active: rgb(0 96 69);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(15 15 15);
    --background-muted: rgb(24 24 27);

    --surface: rgb(24 24 27);
    --surface-active: rgb(54 65 83);
    --surface-hover: rgb(30 41 57);

    --border: rgb(54 65 83);
    
    --foreground: rgb(209 213 220);
    --foreground-muted: rgb(156 163 175);

    --accent-hover: rgb(0 188 125);
    --accent-active: rgb(0 212 146);
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-background-muted: var(--background-muted);

  --color-surface: var(--surface);
  --color-surface-active: var(--surface-active);
  --color-surface-hover: var(--surface-hover);

  --color-border: var(--border);

  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-accent-active: var(--accent-active);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
